<div id="contact-table" class="mt-2">
  <div class="d-flex flex-column rounded border border-1">
    <div class="d-flex flex-row" >
      <div class="form-check mt-2 ms-3">
        <input type="checkbox" class="form-check-input all_task-select-check" 
          id="" style="width: 20px; height: 20px;"
          data-task-id=""
        >
        <label class="form-check-label" for=""></label>
      </div>
      <div class="ms-2 mt-2">
        <h4>Pending Task List :</h3>
      </div>
    </div>
    <% @task_list = @today_tasks %>
    <%= render "tasks" %>
  </div>
</div>