<footer class="text-center text-white mt-2" style="background-color: #867ae3;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href= <%= root_path %> >Back to Home</a>
  </div>
</footer>

